<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<br><br><br>
<h3>Student picnic information :-</h3>
<br>
<button type="button" class="btn btn-light"><a href="{% url 'Add_student' %}"> Add student </a></button>
<br><br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Class</th>
        <th scope="col">Picnic Fee</th>
        <th scope="col">Remove</th>

    </tr>
    </thead>
    <tbody>
        {% for i in all_student_list %}
    <tr>
        <th scope="row">{{ i.id }}</th>
        <th scope="row">{{ i.student_name }}</th>
        <th scope="row">{{ i.student_class }}</th>
        <th scope="row">{{ i.student_fee }}</th>
        <th scope="row">
            <form action="{% url 'delete' id=i.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Remove" class="btn btn-danger">
            </form>
        </th>

    </tr>
    {% endfor %}
    </tbody>
</table>